<!DOCTYPE html>
<html>
<style>
.button{

  position: absolute; bottom: 0px; width:100%;

}
</style>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyBiAbh9nvAp-OQBYbdR8RmFS3qGBWc8u4o&senson=true"></script>
  </head>
  <body ng-app="starter">

    <ion-nav-view>
    <div class="bar bar-header bar-balanced">
      <h1 class="title">Bus Stop Details</h1>
    </div><br/><br/>
    <div class="list" ng-controller="AppCtrl">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Enter Bus Stop</span>
        <input type="text" ng-model="busstop" placeholder="Infi Circle">
      </label>
      <!-- <label class="item item-input item-stacked-label">
        <span class="input-label">Source</span>
        <input type="text" placeholder="Hinjewadi">
      </label> -->
      <label class="item item-input item-stacked-label">
        <span class="input-label">Destination</span>
        <input type="text" ng-model="destination" placeholder="Pune Station">
      </label>
      <br/>
      <a class="button button-outline button-assertive" href ng-click="refresh();">Refresh</a>
    </div>
    
        <div class="bar bar-header bar-positive" ng-controller="AppCtrl">
          <h1 class="title">Bus Tracker</h1>
        </div>
        
        <div id="map" data-tap-disabled="true"></div>
      

    </ion-nav-view>
    
  </body>
</html>
