<div class="container-fluid">
    <div id="mainscreen">
        <div class="row">
            <div class="col-lg-11">
                <div class="input-group">
                    <input type="text"  class="form-control" placeholder=" Enter City">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-11">
                <div class="input-group">
                    <input type="text"  class="form-control" placeholder=" Enter Location">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>