<div id="mySidenav" class="sidenav list-group" ng-style="mySidenav">
    <a href="" class="closebtn" ng-click="mySidenav={'display': 'none'}">
        <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
    </a>
    <div id="user" class="list-group-item text-center">
        <img src="img/bus.png" class="img-circle center-block img-responsive">
        <p>Sudheesh Shetty</p>
        <p>sudheeshshetty@gmail.com</p>
    </div>
    <a href="#" class="list-group-item"><i class="glyphicon glyphicon-road pull-right"></i> Your Trips</a>
    <a href="#" class="list-group-item"><i class="pull-right glyphicon glyphicon-user"></i>
        Account Settings</a>
    <a href="#" class="list-group-item"><i class="pull-right glyphicon glyphicon-envelope"></i>
        Send Feedback</a>
    <a href="#" class="list-group-item"><i class="pull-right glyphicon glyphicon-info-sign"></i>
        About Us</a>
</div>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="row">
            <button type="button" ng-click="mySidenav={'display': 'block'}" class="head btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
            </button> 
            <input type="text"  class="head form-control" placeholder=" Enter Destination">
            <button type="button" class="head btn btn-default" ng-click="search()" aria-label="Left Align">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button> 
        </div>
    </div>
</nav>
<div id="map" data-tap-disabled="true" ng-model="map"></div>
